{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

{% get_providers as socialaccount_providers %}

<div class="container text-center mt-4">
  <div class="row d-flex justify-content-center">
      <div class="col m-4 bg-light bg-gradient rounded shadow-sm">

            <h1 class="p-3"><i class="bi bi-person-check"></i> {% trans "Sign In" %}</h1>
            <hr>
            <p>{% blocktrans %}If you have not created an account yet, then please
              <a class="btn btn-sm btn-outline-secondary" href="{{ signup_url }}">sign up</a>{% endblocktrans %}
            </p>
            <hr>
            {% if socialaccount_providers %}

            <p>{% blocktrans %}Login using your social account.{% endblocktrans %}
            </p>

            <div class="socialaccount_ballot">

              <ul class="p-0 socialaccount_providers d-flex justify-content-center" style="list-style: none;">
                {% include "socialaccount/snippets/provider_list.html" with process="login" %}
              </ul>

              <div class="login-or mb-3">{% trans 'OR' %}</div>

            </div>

            {% include "socialaccount/snippets/login_extra.html" %}


            {% endif %}

            <form class="login" method="POST" action="{% url 'account_login' %}">
              {% csrf_token %}
              {{ form.as_p }}
              {% if redirect_field_value %}
              <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}">
              {% endif %}
              <hr>
              <a class="btn btn-outline-secondary m-3" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
              <button class="btn btn-dark bg-gradient m-3" type="submit">{% trans "Sign In" %}</button>
            </form>

        </div>
    </div>
</div>

<script>
  $(document).ready(function () {
    $('body').addClass('bg-social');
  });
</script>

{% endblock %}
