{% extends "base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}

<div class="container text-center mt-4">
    <div class="row d-flex justify-content-center">
        <div class="col m-4 bg-light bg-gradient rounded shadow-sm">
    
                <h1 class="p-3"><i class="bi bi-file-earmark-lock2-fill"></i> {% trans "Password Reset" %}</h1>
                <hr>
                {% if user.is_authenticated %}
                {% include "account/snippets/already_logged_in.html" %}
                {% endif %}

                <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>
    
                <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input class="btn bg-dark bg-gradient text-white m-4" type="submit" value="{% trans 'Reset My Password' %}">
                </form>
            
                <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
    
            </div>
        </div>
    </div>
    
    <script>
    $(document).ready(function () {
        $('body').addClass('bg-social');
    });
    </script>

{% endblock %}
