{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}

    <div class="container text-center mt-4">
        <div class="row d-flex justify-content-center">
            <div class="col m-4 bg-light bg-gradient rounded shadow-sm">
      
                  <h1 class="p-3"><i class="bi bi-file-earmark-lock-fill"></i><i class="bi bi-file-lock"></i> {% trans "Change Password" %}</h1>
                  <hr>

                  <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button class="btn bg-dark bg-gradient text-white m-4" type="submit" name="action">{% trans "Change Password" %}</button>
                </form>
            
                <div>
                    <a class="btn btn-sm btn-outline-secondary mb-4" href="{% url 'profile' %}">Back to My Profile</a>
                </div>
      
              </div>
          </div>
      </div>
      
      <script type="text/javascript">
        $(document).ready(function () {
          $('body').addClass('bg-social');
        });
      </script>

{% endblock %}
