{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}

<div class="container text-center mt-4">
  <div class="row d-flex justify-content-center">
      <div class="col m-4 bg-light bg-gradient rounded shadow-sm">

            <h1 class="p-3"><i class="bi bi-person-plus"></i> {% trans "Sign Up" %}</h1>
            <hr>
            <p>{% blocktrans %}Already have an account? Then please <a class="btn btn-sm btn-outline-secondary" href="{{ login_url }}">sign in</a>{% endblocktrans %}</p>
            <hr>

            <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
              {% csrf_token %}
              {{ form.as_p }}
              {% if redirect_field_value %}
              <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
              {% endif %}
              <button class="btn btn-dark bg-gradient m-3" type="submit">{% trans "Sign Up" %}</button>
            </form>

        </div>
    </div>
</div>

<script>
  $(document).ready(function () {
    $('body').addClass('bg-social');
  });
</script>

{% endblock %}
