{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Verify Your E-mail Address" %}{% endblock %}

{% block content %}

<div class="container text-center mt-4">
    <div class="row d-flex justify-content-center">
        <div class="col m-4 bg-light bg-gradient rounded shadow-sm">
  
              <h1 class="p-3"><i class="bi bi-envelope-check"></i> {% trans "Verify Your E-mail Address" %}</h1>
              <hr>
              <p>{% blocktrans %}We have sent an e-mail to you for verification. Follow the link provided to finalize the signup process. Please contact us if you do not receive it within a few minutes.{% endblocktrans %}</p>
  
          </div>
      </div>
  </div>
  
  <script>
    $(document).ready(function () {
      $('body').addClass('bg-social');
    });
  </script>

{% endblock %}
