{% extends "base.html" %}
{% load i18n %}
{% block content %}

<div class="container text-center">
    <hr>
    <h2 class="m-2">Orders Status - Management</h2>
    <hr>
</div>

{% load account %}

<div class="container text-center">
    <div class="row">
        <div class="col table-responsive">
            <table class="table table-sm table-borderless" style="font-size: 13px;">
                <thead>
                    <tr class="border-bottom">
                        <th>Order Number</th>
                        <th>Date</th>
                        <th>Current Status</th>
                        <th>Update Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% for order in orders %}
                        <tr class="border-bottom">
                            <td class="pt-2">
                                <a href="{% url 'order_details' order.order_number %}"
                                title="{{ order.order_number }}">
                                    {{ order.order_number|truncatechars:10 }}
                                </a>
                            </td>
                            <td class="pt-2">{{ order.date }}</td>
                            <td class="pt-2">{{ order.status }}</td>
                            <td class="pt-2">
                                <form method="POST" action="{% url 'update_status' order.pk %}">
                                    {% for field in form %}
                                    {% csrf_token %}
                                        {{ field }}
                                    {% endfor %}
                                    <input class="btn btn-sm btn-success m-1" type="submit" value="&#x2713">
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{%endblock%}