{% extends "base.html" %}
{% load i18n %}
{% block content %}

<div class="container text-center">
    <hr>
    <h2 class="m-2">Stock - Management</h2>
    <hr>
</div>

{% load account %}

<div class="container text-center">
    <div class="row">
        <div class="col table-responsive">
            <table class="table table-sm table-borderless" style="font-size: 13px;">
                <thead>
                    <tr class="border-bottom">
                        <th>Product SKU / Name</th>
                        <th>Current Stock</th>
                        <th>Update Stock</th>
                    </tr>
                </thead>
                <tbody>
                    {% for product in product_list %}
                        <tr class="border-bottom">
                            <td class="pt-2">SKU {{ product.sku }} - {{ product.name }}</td>
                            <td class="pt-2">{{ product.quantity_available }}</td>
                            <td>
                                <form method="POST" action="{% url 'update_stock' product.slug %}">
                                    {% for field in form %}
                                    {% csrf_token %}
                                        {{ field }}
                                    {% endfor %}
                                    <input class="btn btn-sm btn-success m-1 bg-gradient" type="submit" value="&#x2713">
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{%endblock%}