{% extends "base.html" %}
{% load static %}
{% block content %}

<header>
    <div class="container-fluid">
        <h1>Street Craft - Product Details</h1>
    </div>
</header>

<div class="col-md-4 p-0">
    <div class="card m-3">
        <div class="card-body m-1 p-1 text-center">
                <div class="image-container">
                    <img class="card-img-top img-fluid" src="{{ product.product_image.url }}" alt="{{ product.name }}">                            
                </div>
            <p class="card-text mt-2">Product: {{ product.name }}</p>
            <p class="card-text">Price: {{ product.price }}</p>
            <p class="card-text">Rating: {{ product.rating }}</p>                 
        </div>          
        <div>
            <p class="card-text">Product SKU: {{ product.sku }}</p>
            <p class="card-text">Description: {{ product.description }}</p>
        </div>
    </div>
</div>

{% endblock content %}