{% extends "base.html" %}
{% load static %}

{% block content %}

<header>
    <div class="container-fluid">
        <h1>Street Craft - Products</h1>
    </div>
</header>

<div class="container-fluid">
    <p>Total of products: {{ total_products_list }}</p>
</div>

<div class="dropdown p-2">
    <a class="btn btn-outline-dark dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Sort all products by
    </a>
    <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="/all-products/?sort=price&direction=asc">By price: Low to High</a></li>
        <li><a class="dropdown-item" href="/all-products/?sort=price&direction=desc">By price: High to Low</a></li>
        <li><a class="dropdown-item" href="/all-products/?sort=rating&direction=asc">By rating: Low to High</a></li>
        <li><a class="dropdown-item" href="/all-products/?sort=rating&direction=desc">By rating: High to Low</a></li>
        <li><a class="dropdown-item" href="/all-products/?sort=name&direction=asc">By name: A to Z</a></li>
        <li><a class="dropdown-item" href="/all-products/?sort=name&direction=desc">By name: Z to A</a></li>
    </ul>
</div>

<div class="container-fluid">
    <div class="row">
        {% for product in products_list %}
            <div class="col-md-4 p-0">
                <div class="card m-3">
                    <div class="card-body m-1 p-1 text-center">
                        <a href="{% url 'product_details' product.slug %}">
                            <div class="image-container">
                                {% if product.product_image %}
                                <img class="card-img-top img-fluid" src="{{ product.product_image.url }}" alt="{{ product.name }}">
                                {% else %}
                                <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage-sc.png" alt="No image of the product">
                                {% endif %}                         
                            </div>
                        </a>
                        <p class="card-text mt-2">Product: {{ product.name }}</p>
                        <p class="card-text">Availabe stock: {{ product.quantity_available }}</p>
                        {% if product.offer  %}
                        <p class="card-text"><del><small>Original price: $ {{ product.price }}</small></del></p>
                        <p class="card-text">{{ product.offer.offer_display }} - Discount offer: {{ product.offer.offer_discount }}%</p>
                        <p> Offer price: <strong>$ {{ product.cal_discount_price }} </strong></p>                 
                        {% else %}
                        <p class="card-text">Price: $ {{ product.price }}</p>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% if forloop.counter|divisibleby:3 %}
                </div>
                <div class="row">
            {% endif %}
        {% endfor %}
    </div>
    <div class="row">        
    </div>
</div>

{% endblock content %}