/* Style for Base.html */

/* Background */

.bg-cst-blue-top {
    background: linear-gradient(0deg, rgba(195,235,255,1) 10%, rgba(141,194,218,1) 45%);
}

.bg-cst-blue-bottom {
    background: linear-gradient(180deg, rgba(195,235,255,1) 10%, rgba(141,194,218,1) 45%);
}

.bg-social {
    background: url("/media/background-accounts.jpg") 50% 50% no-repeat fixed;
    background-size: cover
}

/* !! Style for footer elements !! */

#list-web-link>li>a {
    font-size: 14px;
}

.social-list {
    border: 1px solid #FF6607;
}

.social-link {
    color: #ffffff;
    font-size: 25px;
    padding: 10px;
}

.social-link:hover {
    color: rgb(211, 211, 211);
    text-shadow: 1px 2px 2px #6b949b;
}

.list-clear {
    list-style: none;
}

.footer-link {
    text-decoration: none;
    color: black;
}

.footer-link:hover {
    font-weight: bold;
    color:#202122;
    text-shadow: 1px 2px 2px #6b949b;
}

/* Messages and Toasts */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */

.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */

.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* Style for Bag page */

.update-item,
.remove-item {
    cursor: pointer;
}

/* !! Media queries !! */

@media screen and (max-width: 700px) {

/* Querie for footer elements */

#news-container>button {
    font-size: 12px;
}

#list-web-link {
    padding: 3px;
}

#list-web-link>li>a {
    font-size: 14px;
}

.social-link {
    font-size: 20px;
    padding: 8px;
}

}

@media screen and (max-width: 500px) {

/* Querie for footer elements */

#social-container {
    justify-content: center !important;
}

/* Querie for order details template */

#order-details {
    font-size: 12px;
}

#bag-container {
    font-size: 12px;
}

}

@media screen and (max-width: 300px) {

/* Querie for footer elements */

#container-link-social {
    flex-direction: column !important;
}

#link-container {
    margin-top: 10px;
    display: flex;
    justify-content: center !important;
}

}