<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">

        <li class="nav-item dropdown">
            <button class="btn btn-dark m-2" type="button" data-bs-toggle="collapse" data-bs-target="#productCategory" aria-expanded="false">
                Select Category
            </button>
            <div class="dropdown-menu border-0" aria-labelledby="product-link" id="productCategory">
                <a href="{% url 'products' %}?category=SKT" class="dropdown-item">Skateboards</a>
                <a href="{% url 'products' %}?category=CAP" class="dropdown-item">Caps & Hats</a>
                <a href="{% url 'products' %}?category=BAG" class="dropdown-item">Backpacks & Bags</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <button class="btn btn-dark m-2" type="button" data-bs-toggle="collapse" data-bs-target="#offersCategory" aria-expanded="false">
                Special Offers
            </button>
            <div class="dropdown-menu border-0" aria-labelledby="offer-link" id="offersCategory">
                <a href="{% url 'products' %}?offer=NEW" class="dropdown-item">New Arrivals</a>
                <a href="{% url 'products' %}?offer=SALE" class="dropdown-item">Special Sale</a>
                <a href="{% url 'products' %}?offer=LAST" class="dropdown-item">Last Chance</a>
            </div>
        </li>

    </ul>
</div>