{% extends "base.html" %}
{% load static %}

{% block content %}

<section>
    <!-- 403 error container -->
    <div class="container text-center mt-4">
        <div class="row d-flex align-items-center">
            <div class="col">
                <h1 class= "display-1 fw-bolder"> 403 error</h1>
                <h2> Page Forbidden </h2> <hr>
                <h2> Sorry, but you dont have permission to access this resource.</h2>
            </div>
            <div class="col">
                <img class="img-fluid" src="{{ MEDIA_URL }}error-handler.png" alt="Attention signal">
            </div>
        </div>
    </div>
    <!-- Back to home page button -->
    <div class="m-2 text-center">
        <a href="{% url 'home'%}" class="btn btn-sm btn-outline-dark">Home</a>
    </div>
</section>

{% endblock %}