{% extends "base.html" %}
{% load i18n %}
{% block content %}

<div class="container text-center">
    <hr>
    <h2 class="m-2">Order Details</h2>
    <hr>
</div>

<div class="container text-center">
    <div class="row">
        <div class="container text-center">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <p class="text-black">Your order details is below.</p>
                    </div>
                </div>
                <div class="row">
                    <h3>Order number: {{ order.order_number }}</h3>
                </div>
                <hr>
                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="mb-0 text-black font-weight-bold">Order Date</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-right">
                        <p class="mb-0">{{ order.date }}</p>
                    </div>
                </div>
        
                <div class="row">
                    <div class="col">
                        <small class="text-muted">Order Details:</small>
                    </div>
                </div>
        
                {% for item in order.lineitems.all %}
                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="small mb-0 text-black font-weight-bold">
                            {{ item.product.name }}
                        </p>
                    </div>
                    <div class="col-12 col-md-8 text-md-right">
                        <p class="small mb-0">{{ item.quantity }} @ ${{ item.product.price }} each</p>
                    </div>
                </div>
                {% endfor %}
                <hr>
                <div class="row">
                    <div class="col">
                        <small class="text-muted">Billing Info:</small>
                    </div>
                </div>
        
                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="mb-0 text-black font-weight-bold">Order Total</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-right">
                        <p class="mb-0">{{ order.order_total }}</p>
                    </div>
                </div>
        
                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="mb-0 text-black font-weight-bold">Delivery</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-right">
                        <p class="mb-0">{{ order.delivery_cost }}</p>
                    </div>
                </div>
        
                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="mb-0 text-black font-weight-bold">Grand Total</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-right">
                        <p class="mb-0">{{ order.grand_total }}</p>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col">
                        <small class="text-muted">Delivering To:</small>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="mb-0 text-black font-weight-bold">Full Name</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-right">
                        <p class="mb-0">{{ order.full_name }}</p>
                    </div>
                </div>
        
                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="mb-0 text-black font-weight-bold">Address 1</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-right">
                        <p class="mb-0">{{ order.street_address1 }}</p>
                    </div>
                </div>
        
                {% if order.street_address2 %}
                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="mb-0 text-black font-weight-bold">Address 2</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-right">
                        <p class="mb-0">{{ order.street_address2 }}</p>
                    </div>
                </div>
                {% endif %}
        
                {% if order.county %}
                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="mb-0 text-black font-weight-bold">County</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-right">
                        <p class="mb-0">{{ order.county }}</p>
                    </div>
                </div>
                {% endif %}
        
                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="mb-0 text-black font-weight-bold">Town or City</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-right">
                        <p class="mb-0">{{ order.town_or_city }}</p>
                    </div>
                </div>
        
                {% if order.postcode %}
                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="mb-0 text-black font-weight-bold">Postal Code</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-right">
                        <p class="mb-0">{{ order.postcode }}</p>
                    </div>
                </div>
                {% endif %}

                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="mb-0 text-black font-weight-bold">Country</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-right">
                        <p class="mb-0">{{ order.country }}</p>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col">
                        <small class="text-muted">Contact info:</small>
                    </div>
                </div>
        
                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="mb-0 text-black font-weight-bold">Phone Number</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-right">
                        <p class="mb-0">{{ order.phone_number }}</p>
                    </div>
                </div>
        
                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="mb-0 text-black font-weight-bold">E-mail</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-right">
                        <p class="mb-0">{{ order.email }}</p>
                    </div>
                </div>
                <hr>

                <div class="row">
                    <div class="col">
                        <small class="text-muted">Order Status</small>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p class="mb-0">Current: {{ order.status }}</p>
                    </div>
                </div>
                <div class="progress m-4" style="height: 10px;">
                    {% if order.status == "Payment Approved" %}
                        <div class="progress-bar" role="progressbar" aria-label="Example 20px high" style="width: 0%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                    {% endif %}
                    {% if order.status == "Order sent to separation" %}
                        <div class="progress-bar" role="progressbar" aria-label="Example 20px high" style="width: 20%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                    {% endif %}
                    {% if order.status == "Order picked" %}
                    <div class="progress-bar" role="progressbar" aria-label="Example 20px high" style="width: 40%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                    {% endif %}
                    {% if order.status == "Order packed" %}
                    <div class="progress-bar" role="progressbar" aria-label="Example 20px high" style="width: 60%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                    {% endif %}
                    {% if order.status == "Order shipped" %}
                    <div class="progress-bar" role="progressbar" aria-label="Example 20px high" style="width: 80%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                    {% endif %}
                    {% if order.status == "Order delivered" %}
                    <div class="progress-bar" role="progressbar" aria-label="Example 20px high" style="width: 100%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                    {% endif %}
                </div>

                <div class="row m-4">
                    {% if order.status == "Payment Approved" %}
                        <div><span><del>Payment Approved</del> >> <strong>Printing</strong> >> Picking >> Packing >> Shipping >> Delivering </span></div>
                    {% endif %}
                    {% if order.status == "Order sent to separation" %}
                    <div><span><del>Payment Approved</del> >> <del>Printing</del> >> <strong>Picking</strong> >> Packing >> Shipping >> Delivering </span></div>
                    {% endif %}
                    {% if order.status == "Order picked" %}
                    <div><span><del>Payment Approved</del> >> <del>Printing</del> >> <del>Picking</del> >> <strong>Packing</strong> >> Shipping >> Delivering </span></div>
                    {% endif %}
                    {% if order.status == "Order packed" %}
                    <div><span><del>Payment Approved</del> >> <del>Printing</del> >> <del>Picking</del> >> <del>Packed</del> >> <strong>Shipping</strong> >> Delivering </span></div>                    
                    {% endif %}
                    {% if order.status == "Order shipped" %}
                    <div><span><del>Payment Approved</del> >> <del>Printing</del> >> <del>Picking</del> >> <del>Packed</del> >> <del>Shipping</del> >> <strong>Delivering</strong></span></div>
                    {% endif %}
                    {% if order.status == "Order delivered" %}
                    <div><span><del>Payment Approved</del> >> <del>Printing</del> >> <del>Picking</del> >> <del>Packed</del> >> <del>Shipping</del> >> <del>Delivering</del></span></div>
                    {% endif %}
                </div>

            </div>        
        </div>
        <div class="container text-center">
            <a class="btn btn-sm btn-dark" href="{% url 'profile' %}">My Profile</a>
            <a class="btn btn-sm btn-dark" href="{% url 'orders_list' %}">My Orders</a>
        </div>
    </div>
</div>

{%endblock%}