{% extends "base.html" %}
{% load i18n %}
{% block content %}

<div class="container text-center">
    <hr>
    <h2 class="m-2">My Orders</h2>
    <hr>
</div>

{% load account %}

<div class="container text-center">
    <div class="row">
        {% if orders %}
        <div class="col-12 col-lg-6">
            <p>All orders registered as user <strong>{% user_display user %}</strong></p>
            <p>Total orders: {{ total_orders_list }}</p>
        </div>
        <div class="col-12 col-lg-6 table-responsive">
            <table class="table table-sm table-borderless">
                <thead>
                    <tr>
                        <th>Order Number</th>
                        <th>Date</th>
                        <th>Items</th>
                        <th>Order Total</th>
                    </tr>
                </thead>
                <tbody>
                    {% for order in orders %}
                        <tr>
                            <td>
                                <a href="#"
                                title="{{ order.order_number }}">
                                    {{ order.order_number|truncatechars:12 }}
                                </a>
                            </td>
                            <td>{{ order.date }}</td>
                            <td>
                                <ul class="list-unstyled">
                                    {% for item in order.lineitems.all %}
                                        <li class="small">
                                            {{ item.product.name }} x{{ item.quantity }}
                                        </li>
                                    {% endfor %}
                                </ul>
                            </td>
                            <td>${{ order.grand_total }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% else %}
        <div class="container text-center">
            <p>We have not identified any orders finalized with the user </p>
            <a class="btn btn-sm btn-dark" href="{% url 'products' %}">Back to Shop</a>
        </div>
        {% endif %}

        <div class="container text-center">
            <a class="btn btn-sm btn-dark" href="{% url 'profile' %}">My Profile</a>
        </div>
    </div>
</div>



{%endblock%}